.flex {
  display: flex;
  justify-content: space-between;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(max-content, 1fr)) 12fr;
  border: 1px solid black;
}

.table .header {
  text-align: center;
  font-weight: bold;
  background-color: aqua;
}

.cell {
  padding: 0.5em 1em;
  border: 1px solid black;
}

.modal--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.timesheet-form {
  position: relative;
  top: 0;
  transform: translateY(50%);
  border-radius: 5px;
  padding: 20px 30px;
  margin: auto;
  width: 50%;
  max-width: 400px;
  background-color: white;
}

.form--field {
  position: relative;
  margin: 0.5em 0;
}

.form--field label {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 0.8em;
  margin-right: 10px;
}

.form--field input {
  display: block;
  font-family: inherit;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 3px;
  padding-top: 20px;
  height: 20px;
}

.heading {
  font-size: 1.25em;
  font-weight: 600;
}

.modal--body {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}

.modal--footer {
  width: 100%;
}

.modal--footer .action-buttons {
  display: flex;
  justify-content: space-between;
}

.modal--body .inline{
  flex: 1;
}

.modal--body .full {
  flex: 100%;
  display: flex;
}

.modal--body .full input {
  flex: 1;
}

.modal--section {
  position: relative;
}

.icon-close:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}

.modal--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
}
