.button {
  background-color: white;
  color: black;
  outline: none;
  border: 1px solid transparent;
  box-shadow: none;
  padding: 0.5em 1em;
  margin: 1em;
}

.button--rounded {
  border-radius: 3px;
}

.button--circle {
  border-radius: 50%;
}

.button--transparent {
  border: 1px solid #cecece;
  border-radius: 50%;
}

.button:hover {
  cursor: pointer;
}

.button--absolute {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.button--primary {
  background-color: #cae7b9;
  color: #243e36;
}

